
<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
    <label for="team">Team Name</label>
    <input type="text" id=team[name] name="team[name]">
    <label for="motto">Team Motto</label>
    <input type="text" id=team[motto] name="team[motto]">

    <label for="name"> Member One Name</label>
    <input type="text" id="member1_name" name="member1_name"> 
    <label for="power"> Member One Power</label>
    <input type="text" id="member1_power" name="member1_power">
    <label for="bio"> Member One Bio</label>
    <input type="text" id="member1_bio" name="member1_bio">

    <label for="name"> Member One Name</label>
    <input type="text" id="member2_name" name="member2_name"> 
    <label for="power"> Member One Power</label>
    <input type="text" id="member2_power" name="member2_power">
    <label for="bio"> Member One Bio</label>
    <input type="text" id="member2_bio" name="member2_bio">

    <label for="name"> Member One Name</label>
    <input type="text" id="member3_name" name="member3_name"> 
    <label for="power"> Member One Power</label>
    <input type="text" id="member3_power" name="member3_power">
    <label for="bio"> Member One Bio</label>
    <input type="text" id="member3_bio" name="member3_bio">
    
    <input type="submit" id="Submit" value="submit">
</form>